/* CUSTOM SETTINGS */
@font-face {
    font-family: 'Prestige';
    src: url(../fonts/Prestige\ Signature\ Script.ttf);
  }

@font-face {
    font-family: 'Erotique';
    src: url(../fonts/ErotiqueTrial-Medium.ttf);
}

:root {
    --oxford-blue: #0d253dff;
    --space-blue: #335c67ff;
    --honeydew: #cfe6dbff;
    --champagne-yellow: #ffe0b5ff;
    --gold-yellow: #edc380ff;
    --indian-yellow: #e09f3eff;
    --seal-brown: #6b2c0cff;
    --auburn-red: #9e2a2bff;
    --rosewood-red: #540b0eff;
    --bistre-brown: #332014ff;
    --primary-font: 'Prestige';
    --secondary-font: 'Erotique';
}

/* GLOBAL > DEFAULTS */
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

.textshadow-black {    text-shadow: 2px 2px 8px #00000070; } 
.textshadow-white {    text-shadow: 2px 2px 8px #ffffff70; }

.pfont {    font-family: var(--primary-font); }
.sfont {    font-family: var(--secondary-font); }

/* GLOBAL > BUTTONS */
.btn-1 {  
    text-transform:uppercase;
    color: #ffffff; 
    background: linear-gradient(90deg, var(--bistre-brown) 0%, var(--auburn-red) 100%); 
    padding: 10px 36px; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 22px 50px;
    transition : 327ms;
    transform: translateY(0);
    border: none;
    }
    
.btn-1:hover { 
    transition : 600ms;
    padding: 10px 60px;
    transform : translateY(-0px);
    background: linear-gradient(90deg, var(--bistre-brown) 0%, var(--auburn-red) 100%);
    color: #ffffff;
    border: none;
    }

.btn-2 {
    background-color: #FFFFFF99;
    text-transform: uppercase;
    color: black;
    border: 1px solid black; 
    padding: 10px 36px;
    border-radius: 22px 50px;
    transition: 327ms;
    transform: translateY(0);
}  

.btn-2:hover { 
    background-color: #FFFFFF99;
    transition : 600ms;
    padding: 10px 60px;
    transform : translateY(-0px);
    }

.btn-3 {
    background-color: #000000;
    padding: 10px 36px;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
}
    

/* NAVIGATION */
.topnav {
    background-color: var(--champagne-yellow);
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 48px;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav .left a { float: left; }
.topnav .right a { float: right; }

.topnav a#logo {
    font-family: 'Prestige';
    font-size: 36px; 
    padding: 0px 16px 0px 28px; 
    text-align: center; 
    margin: auto;
}

.topnav a#logo:hover {
    text-shadow: none !important;
}

.topnav a:hover {
    text-shadow: 4px 4px 8px var(--indian-yellow);
    color: black;
    transition: 450ms;
}

.topnav a.active {
    background-color: inherit;
    text-decoration: underline wavy var(--indian-yellow) 1.5px;
}


/* HOME > HERO SECTION */
section#hero {
    height: calc(100vh - 45px);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    /* display: grid;
    align-items: center; */
}

section.main-hero {
    background-color: #000000;
}

section.shop-hero {
    background-color: gainsboro;
}

div.hero {
    display: flex;
    flex-direction: row;
    place-content: center;
    height: 100%;
}

div.hero-left {
    background-image: url(../img/prophsee-brown-journal.jpg);
    background-attachment: fixed;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    display: flex;
    flex-direction: column;
    place-content: flex-end;
    height: calc(100% - calc(60px * 2));
    padding: 60px 30px;
    float: left;
    width: calc(50% - calc(30px * 2));
}

div.hero-right {
    background-color: var(--space-blue);
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    height: calc(100% - calc(60px * 2));
    padding: 60px 30px;
    float: right;
    width: calc(50% - calc(30px * 2));
    color: white;
}

/* ALL SECTIONS EXCEPT HERO */

section.section {
    margin: 0;
    padding: 60px;
    border: 1px dashed gainsboro;             /* REMOVE THIS LATER */
}

/* HOME > FEATURES SECTION */
/* NEEDS MEDIA BREAKPOINTS */
section#features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    place-items: center center;
    justify-content: space-between;
    gap: 24px 24px;
}

section#features > div.site-desc {
    margin: 4px auto;
    max-width: 450px;
}

/* HOME > FEATURED PRODUCTS */
section#featured {
    background-color: var(--champagne-yellow);
}

.featured-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 12px 6px;
    grid-auto-flow: row;
    place-items: center center;
    place-content: space-evenly;
  }

.featured-products > div.product {
    width: calc(100% - 16px);
    min-height: 250px;
    border: 1px dotted var(--indian-yellow);
    padding: 8px;
    overflow-y: visible;
    text-align: center;
}



.featured-products > div.product > img.product {
    width: 100%;
}

/* HOME > LIMITED TIME OFFER */
#ltd-offer {
    background-color: var(--space-blue);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 36px;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center;
}

/* HOME > STORE */
#store {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    gap: 12px 12px;
}

#store > img {
    width: 100%;
    padding: 0;
    margin: 0;
    flex: 2 0 100%;
}

/* SHOP > PRODUCTS */
#shop-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    gap: 36px 24px;
    grid-auto-flow: row dense;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: stretch;
    align-items: stretch;
}

#shop-products > div.product-card {
    background-color: white;
    padding: 12px;
    text-align: center;
    margin: auto;
    /* display: none; */
}

#shop-products > div.product-card:hover {
    box-shadow: 8px 8px 16px #e09f3e33;
    transition: 450ms;
}

.product-name {
    padding-bottom: 0;
    margin-bottom: 0;
}

.price {
    color: grey;
}

.description {
    font-size: 12px;
}

button.btn-addToCart {
    border: none;
    outline: 0;
    padding: 12px 36px;
    margin-bottom: 0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 22px 50px;
}

button.btn-addToCart:hover {
    opacity: 0.7;
    transition: 450ms;
}

#shop-products > div.product-card > img.product-img {
    width: 100%;
    object-fit: cover;
}

#shop-products > div.product-card > img.product-img:hover {
    transform: scale(1.1);
    transition: 350ms;
}

.show {
    display: block;
}


/* GLOBAL > FOOTER */
div.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 36px 36px;
    justify-content: flex-start;
    align-content: flex-start;
}

/* ===================================
    FOR MOBILE
=================================== */

@media only screen and (max-width: 900px) {
    section#features {
        display: flex;
        flex-direction: column;
    }

    div.featured-products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px 6px;
    }

    div.featured-products > div.product {
        flex: 1 0 100px;
        max-height: 20vh;
    }

    section#store {
        display: flex;
        flex-direction: column-reverse;
    }

    section#shop-products {
        grid-template-columns: 1fr 1fr;
    }

    div.product-card button {
        font-size: 14px;
    }

    div.footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px 12px;
        place-content: center;
    }

    div.hero {
        flex-direction: column;
    }

    div.hero-left, div.hero-right {
        width: calc(100% - calc(30px * 2));
    }

    div.hero-left {
        background-position: 50% 180%;
    }

    .cart-item-img {
        width: 250px !important;
        height: auto;
    }

    .cart-item-img {
        width: 150px !important;
        height: auto;
    }

    .cart-header {
        display: none !important;
    }

    .cart-items .cart-row {
        flex-direction: row;
        place-content: center;
        place-items: center;
    }

    .cart-column {
        flex-direction: column;
        width: 30% !important;
        border-bottom: none !important;
    }

    .cart-qty .cart-column {
        place-content: center;
        place-items: center;
    }

    .btn-remove {
        padding: 4px 8px;
        margin: 4px 0px;
    }
    input.cart-qty-input {
        padding: 0px 14px;
        margin: 4px 0px;
    }


}
@media only screen and (max-width: 550px) {
    #shop-products {
        display: flex;
        flex-direction: column;
    }

    #shop-products > div.product-card {
        padding: 12px;
    }

    .topnav .right {
        display: flex;
        flex-direction: row-reverse;
    }

    .nav-label {
        display: none;
    }
}

/* ===================================
    END OF MOBILE DIMENSIONS
=================================== */


/* CART */

section#shopping-cart {
    width: 80%;
    margin: auto;
}

.cart-row {
    display: flex;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 12px;
    margin-top: 10px;
}

.cart-item {
    width: 55%;
}

.cart-price {
    width: 20%;
    /* font-size: 1.2em; */
    color: #333;
}

.cart-qty {
    width: 20%;
}


.cart-item-img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    /* font-size: 1.2em; */
}

.cart-qty-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    /* font-size: 1.2em; */
    margin-right: 25px;
}

.cart-total {
    text-align: end;
    margin-top: 24px;
    margin-right: 24px;
}

.cart-total-title {
    font-weight: bold;
    /* font-size: 1.5em; */
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

#checkout-btn {
    margin-top: 16px;
}

